.wrapper label {
  display: block;
  font-size: var(--text-md);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-xxs);
}

.required {
  color: red;
}

.error {
  border-color: var(--color-error);
}

.errorMessage {
  color: var(--color-error);
  font-size: 0.75rem;
}
