.layout {
  width: min(1000px, 100%);
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr 1fr 1fr;
  --border-radius: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

.layout header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.layout section {
  background-color: var(--color-gray-100);
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  background: linear-gradient(to bottom, #f7fafd, #edf4fa);
  padding: var(--space-lg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 24px;
}

.layout section:last-of-type {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom: 0;
}
